
<script type="text/template" id="station-list-template">
    <h4>Testing template</h4>
    

    <table class = "table striped">
        <thead>
            <tr><th>Station</th></tr>
        </thead>

        <tbody>
            {{ _.each(stations, function(station){ }}
                <tr>
                <td>{{= station.get('name') }}</td>
                </tr>
            {{ }); }}
        </tbody>
    </table>
</script>

<script>
    window.onload = function() {

        _.templateSettings = {
            interpolate: /\{\{=(.+?)\}\}/g,
            evaluate: /\{\{(.+?)\}\}/g,
        };

        window.App = {
            Views: {},
            Models: {},
            Collections: {}
        }

        App.Models.Station = Backbone.Model.extend({
            defaults: {
                name: ''
            },
            //urlRoot: '/api/station/'
        });

        App.Collections.Stations = Backbone.Collection.extend({
            model: App.Models.Station,
            url: '/api/station/'
        });

        var StationList = Backbone.View.extend({
            el: '.page',
            render: function() {
                var that = this;
                var stations = new App.Collections.Stations();
                stations.fetch({
                    success: function() {

                        /*var template = _.template($("#station-list-template").html(),
                            {stations: stations.models});*/

                        var template = _.template($("#station-list-template").html());
                        var vars = {stations: stations.models};//{stations:"fuck"};
                        var html = template(vars);
                        that.$el.html(html);
                    }
                });

            }
        });

        var Router = Backbone.Router.extend({
            routes: {
                '': 'home'
            }
        });

        var stationList = new StationList();
        var router = new Router();
        router.on('route:home', function() {
            stationList.render();
        });

        Backbone.history.start();
    };

</script>

<div class="container">
    <h1>Hello</h1>
    <div class="page"></div>
</div>